body {
  font-family: 'Roboto', sans-serif;
}

#quiz {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #fb3776;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
	display: -ms-inline-grid
}

h1 {
	margin-top: 0;
  color:#fb3776;
  text-align: center;
  font-weight: 400;
  display: -ms-inline-grid;
}

#choices li {
	list-style: none;
	margin: 10px 0;
  text-align: center;
}

button {
  
  background-color: #ed5c94;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: -ms-inline-grid;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  transition: all .5s ease-in-out;
}

button:hover,
button:focus {
  background-color: #F082AC;
  transform: scale(1.1);
}

h2 {
	font-size: 20px;
	color:#3D4855;
  font-weight: 300;	
}

.vtex-logo {
    width: 5%;
    height: auto;
    display: inline-table;
        }

		
#home-button { display: -moz-grid-group;
}

@font-face {
    font-family: 'VTEX';
    src: local(Assets/'VTEXTrust-Regular.otf')
}

.vtex-ilust {
    width: 18%;
    height: auto;
    float:right; margin-right:0; margin-left:0px; margin-bottom:0px;
    margin-top: 0px;
    display: inline-table
        }

.progress-bar {
  width: 0%;
  height: 5px;
  background-color: #fb3776;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.4s linear;  
  transition-property: width, background-color;
}

#question {
transition: 0.4s linear;
}


